

<ion-view hide-nav-bar="true">
    <ion-content has-header="false">
        <div class="user-login">
            <div class="company-logo">
                <div class="logo">
                    <img src="img/okaya-img/logo.png" alt="">
                </div>
            </div>
            <div class="user-column">
                <div class="user-profile pr-icon">
                    <img ng-if="!loginData.loginImage" src="img/profile.svg" class="default">
                    <img ng-if="loginData.loginImage" ng-src="{{uploadURL}}{{loginData.loginImage}}" class="add-img" style="width: 100%; height: 100%;">
                </div>
                <div class="name">
                    <h2>{{loginData.loginName}}</h2>
                    <h2>{{loginData.emp_code}}</h2>
               
                </div>
            </div>
        </div>
        
        
        <div class="bx-container mt20 mb0">
            <h2>Today Records</h2>
            <div class="forword-page padding0 mt10">
                <a ng-click="onGoToRootPageHandler('sfaPriOrder-list')">
                    <p class="text-center"><span>{{dashboardData['pending_order'] ? dashboardData['pending_order'] : ''}}</span></p>
                    <div class="info">Primary Pending Orders</div>
                </a>
                <a ng-click="onGoToRootPageHandler('billing-list')">
                    <p class="text-center"><span>{{dashboardData['invoice_billing'] ? dashboardData['invoice_billing'] : ''}}</span></p>
                    <div class="info">Billing Details</div>
                </a>
            </div>
        </div>
        
        <div class="total-count">
            <a ng-click = "gotoDrPage(row.typeName,false)"  ng-repeat="row in dashboardData['drCountData']">
                <p>{{row.typeCount}}</p>
                <span>{{row.typeName}}</span>
            </a>
        </div>

        <div class="pd-left-right16 mt10">
            <div class="order-tags mb0">
                <div class="tag-head border0">
                    <h1>Outstanding Amount</h1>
                    <div class="filter-btns">
                        <button class="font13 mr5 radius4" ng-click = "gotoDrPage('outstanding',true)">&#8377; {{dashboardData['total_outstanding'] ? dashboardData['total_outstanding'] : '0'}}</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    
    <!-- <div class="cs-space" style="padding:16px">
        <a class="cs-btn"  href="#/tab/mis_report">Report <i class="material-icons">arrow_forward_ios</i></a>
    </div> -->
    
    <div class="h70">&nbsp;</div>
</ion-content>



</ion-view>