<ion-view view-title="Lead Detail">
    <ion-nav-buttons side="left">
        <a ng-click="goToBackPageHandler()" class="cs-backbtn button button-icon icon ion-android-arrow-back font18 fff"></a>
    </ion-nav-buttons>
    <ion-nav-buttons side="right" class="custom-right-btn">
        <div ng-click="onShowPopUpHandler($event, drDetail.drData.id, 'leadDetail')" class="right-nav-btn nav-search">
            <a ><i class="material-icons">more_vert</i></a>
        </div>
    </ion-nav-buttons>
    <ion-content>
        <div ng-if="drDetail && drDetail.drData" class="coman-list clrd-bg sticky">
            <div class="center-item">
                <div class="cs-icon">{{drDetail.drData.dr_name[0] ? drDetail.drData.dr_name[0] : '--'}}</div>
                <div class="cs-content">
                    <p>{{drDetail.drData.dr_name ? drDetail.drData.dr_name : 'N/A'}}</p>
                    <span>{{drDetail.drData.contact_name ? drDetail.drData.contact_name : 'N/A'}}</span>
                    <a class="icon-content"><i class="material-icons">email</i> {{drDetail.drData.email ? drDetail.drData.email : 'N/A'}}</a>
                </div>
                <a href="tel: {{drDetail.drData.contact_mobile_no}}" class="dialer"><i class="material-icons">call</i></a>
            </div>

            <div class="top-head">
                <ul>
                    <li>
                        <p>{{drDetail.drData.createdDateInFormat}}</p>
                        <span>Created Date</span>
                    </li>
                    <li>
                        <p>{{drDetail.drData.created_by_name}}</p>
                        <span>Created By</span>
                    </li>
                    <li>
                        <p>{{drDetail.drData.source_name}}</p>
                        <span>Source</span>
                    </li>
                </ul>
            </div>

            <div class="pdlr mt10">
                <div class="bdr-field">
                    <span>Description</span>
                    <p>{{drDetail.drData.description ? drDetail.drData.description : 'N/A'}}</p>
                </div>
                <div class="bdr-field">
                    <span>Address</span>
                    <p>{{drDetail.drData.street}} {{drDetail.drData.state_name}}{{drDetail.drData.district_name ? ', '+drDetail.drData.district_name : ''}} {{drDetail.drData.city ? ', '+drDetail.drData.city : ''}} {{drDetail.drData.pincode ? '- '+drDetail.drData.pincode : ''}}</p>
                </div>
            </div>
        </div>

        <div ng-if="drDetail && drDetail.drData" class="forword-page flat-item padding16">
            <a href="#/tab/lead-activity-list" class="no-height">
                <p><span>{{drDetail.checkInData.checkInData.length}}</span></p>
                <div class="info">
                    Activity
                </div>
            </a>

            <a href="#/tab/lead-followup-list" class="no-height">
                <p><span>{{drDetail.followUpData.length}}</span></p>
                <div class="info">
                    <h2> Follow Up</h2>
                    <span ng-if="drDetail.nextFollowUpData && drDetail.nextFollowUpData.followUpDateInFormat" >Next Folllow Up - <strong>{{drDetail.nextFollowUpData.followUpDateInFormat}}</strong></span>
                </div>
            </a>

            <a href="#/tab/lead-requirement-list">
                <p><span>{{drDetail.requirementData.length}}</span></p>
                <div class="info">Requirements</div>
            </a>

            <a href="#/tab/lead-quotation-list">
                <p><span>{{drDetail.quotationData.length}}</span></p>
                <div class="info">Quotation</div>
            </a>

            <a href="#/tab/lead-order-list">
                <p><span>{{drDetail.orderData.length}}</span></p>
                <div class="info">Order</div>
            </a>

        </div>

        <div ng-if="drDetail.contactData.length > 0" style="padding: 0px 16px;">

            <div class="cs-bg-heading">
                <h2>Contact Persons</h2>
            </div>
        </div>
        <div class="cart-card padding16 mb10" ng-repeat = "row in drDetail.contactData">
            <div class="cs-flex" >
                <div class="bdr-field wp100">
                    <span>Name</span>
                    <p>{{row.name}}</p>
                </div>
                <div class="bdr-field wp100">
                    <span>Mobile No</span>
                    <p>{{row.mobile}}</p>
                </div>
            </div>
            <div class="cs-flex" >
                <div class="bdr-field wp100">
                    <span>Email ID</span>
                    <p>{{row.email}}</p>
                </div>
                <div class="bdr-field wp100">
                    <span>Designation No</span>
                    <p>{{row.designation}}</p>
                </div>
            </div>
        </div>

            <div class="upload-doc" ng-if="drDetail.attachments.length > 0">
                <div style="padding-left: 10px;">Attachment</div>
                <ul>
                    <li class="image-upload" ng-repeat="mediadatas in drDetail.attachments" ng-click="showImages(0,mediadatas.image_name)">
                        <img src="{{uploadURL+mediadatas.image_name}}">
                    </li>
                </ul>
            </div>
    </ion-content>

</ion-view>
