<ion-view view-title="FAQ" hide-nav-bar="true">

    <ion-header-bar class="opr_ion_header">
        <div class="cs-left">
            <button class="back-button" ng-click="goToBackPageHandler()"><i class="material-icons">arrow_back</i></button>
            <h1 class="orp_title">FAQ</h1>
        </div>
    </ion-header-bar>

    <ion-content>
        <div class="clcsd">
            <ul class="collapsible">
                <li ng-repeat="row in faqList" ng-class="{'active':row.active==true}">
                    <div class="collapsible-header" ng-click="row.active==true?row.active=false:row.active=true;activeFAQ_Section($index,row.active)">
                        <p><strong>{{$index+1}}. </strong>{{row.question}}</p>
                    </div>
                    <div class="collapsible-body">
                        <p ng-bind-html="row.answer"></p>
                    </div>
                </li>

            </ul>
        </div>
    </ion-content>
</ion-view>