<ion-view view-title="Report Dashboard">
    
    <ion-nav-buttons side="left">
        <a ng-click="goToBackPageHandler()" class="cs-backbtn button button-icon icon ion-android-arrow-back font18 fff"></a>
    </ion-nav-buttons>
    
    <ion-content>
        <div class="dash-partition">
            <div class="d-col-left">
                <div class="total-count dflex-inherit padding0">
                    <a class="mb16">
                        <p>150</p>
                        <span>Distributor</span>
                    </a>
                    <a class="mb16">
                        <p>200</p>
                        <span>Dealer</span>
                    </a>
                    <a>
                        <p>20</p>
                        <span>Lead</span>
                    </a>
                </div>
            </div>
            <div class="d-col-right">
                <h1>Today Activities</h1>
                
                <div class="today-counts">
                    <button>
                        <span>Primary Order</span>
                        <p>₹ 1245,00 /-</p>
                    </button>
                    
                    <button>
                        <span>Secondary Order</span>
                        <p>₹ 450,00 /-</p>
                    </button>
                    
                    <button>
                        <span>Lead</span>
                        <p>45</p>
                    </button>
                    
                    <button>
                        <span>PJP</span>
                        <p>44</p>
                    </button>
                    
                    <button>
                        <span>Travel Plan</span>
                        <p>12</p>
                    </button>
                    
                    <button>
                        <span>Attendence</span>
                        <p>45 / 100</p>
                    </button>
                    
                    <button>
                        <span>Followup</span>
                        <p>16</p>
                    </button>
                    
                    <button>
                        <span>Activity</span>
                        <p>45</p>
                    </button>
                </div>
            </div>
        </div>
        
        <div class="pd-left-right16">
            <div class="order-tags">
                <div class="tag-head">
                    <h1>Orders</h1>
                    <div class="filter-btns">
                        <button class="active">Week</button>
                        <button>Month</button>
                    </div>
                </div>
                
                <div class="tag-body">
                    <div class="two-counts">
                        <ul>
                            <li>
                                <span>Primary Orders</span>
                                <p>25</p>
                            </li>
                            
                            <li>
                                <span>Secondary Orders</span>
                                <p>12</p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            
            <div class="order-tags">
                <div class="tag-head">
                    <h1>Top 30 Dealers</h1>
                    <div class="filter-btns">
                        <button class="active">Order</button>
                        <button>Activity</button>
                    </div>
                </div>
                
                <div class="tag-body">
                    <div class="coman-list dash-changes">
                        <div class="center-item">
                            <div class="cs-icon">C</div>
                            <div class="cs-content ellipsis" >
                                <p class="ellipsis">Chandan Singh / 9876543210</p>
                                <span class="ellipsis">Assign To - Mahesh singh</span>
                            </div>
                            
                            <div class="cs-counts">
                                <p>23</p>
                                <span>Order</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <!-- ----------State wise pie chart---------------- -->
            <div class="order-tags ok_box">
                <div class="tag-head">
                    <h1>State Wise Sales</h1>
                    <div class="filter-btns">
                        <button class="active">Week</button>
                        <button>Month</button>
                        <button>Year</button>
                    </div>
                </div>
                
                <div class="tag-body">
                    State wise pie chart
                </div>
            </div>
            
            <!-- ----------Category Wise Order---------------- -->
            <div class="order-tags ok_box">
                <div class="tag-head">
                    <h1>State Wise Sales</h1>
                    <div class="filter-btns">
                        <button class="active">Week</button>
                        <button>Month</button>
                        <button>Year</button>
                    </div>
                </div>
                
                <div class="tag-body">
                    Category Wise Order
                </div>
            </div>
            
            <!-- ----------Order Wise---------------- -->
            <div class="order-tags ok_box">
                <div class="tag-head">
                    <h1>State Wise Sales</h1>
                    <div class="filter-btns">
                        <button class="active">Week</button>
                        <button>Month</button>
                        <button>Year</button>
                    </div>
                </div>
                
                <div class="tag-body">
                    Order Wise
                </div>
            </div>

            <div class="clcsd ds-collapse">
                <ul class="collapsible">
                    <li class="active">
                        <div class="collapsible-header">
                            <p>Latest Sales Activity</p>
                        </div>
                        <div class="collapsible-body">
                            <div class="coman-list dash-changes">
                                <div class="center-item">
                                    <div class="cs-icon">5</div>
                                    <div class="cs-content ellipsis" >
                                        <p class="ellipsis">Chandan Singh</p>
                                        <span class="ellipsis">Branch Manager</span>
                                    </div>
                                    
                                    <a href="tel: 9876543210" class="dialer"><i class="material-icons">call</i></a>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>

            <div class="clcsd ds-collapse">
                <ul class="collapsible">
                    <li>
                        <div class="collapsible-header">
                            <p>latest Orders</p>
                        </div>
                        <div class="collapsible-body">
                            <div class="coman-list dash-changes">
                                <div class="center-item">
                                    <div class="cs-icon">S</div>
                                    <div class="cs-content ellipsis" >
                                        <p class="ellipsis">Sha Control Systems</p>
                                        <span class="ellipsis">Create by: Dilip Kumar Minraj</span>
                                    </div>
                                    
                                    <div class="cs-counts">
                                        <h1>23</h1>
                                        <span>Qty</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>

            <div class="clcsd ds-collapse">
                <ul class="collapsible">
                    <li>
                        <div class="collapsible-header">
                            <p>latest Orders</p>
                        </div>
                        <div class="collapsible-body">
                            <div class="coman-list dash-changes">
                                
                                <div class="center-item">
                                    <div class="cs-icon">S</div>
                                    <div class="cs-content ellipsis" >
                                        <p class="ellipsis">Deepak Kumar Gautam</p>
                                        <span class="ellipsis">Assign to : Manjeet Yadav</span>
                                    </div>
                                    
                                    <a href="tel: 8588877809" class="dialer"><i class="material-icons">call</i></a>
                                </div>
                                
                                <div class="cs-secation pb0">
                                    <p><span>Assign Dealer :</span> 21</p>
                                    <p><span>Assign Distributor	 :</span> 12</p>
                                    <p><span>Dealer Created :</span> 11</p>
                                    <p><span>Activity :</span> 33</p>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="h80"></div>
    </ion-content>
</ion-view>